/*Font styling, padding, margin and background colour has been changed in the body for each page of the body */
body{
    font: 15px/1.2 'Nanum Gothic', sans-serif;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}
/*I have adopted code from the Youtube link cited in the report.html page and changed it to suit the needs of my audience*/


/*global css which will apply to all pages on the website*/
.container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;   
}

/*The CSS box-sizing property allows us to include the padding and border in an element's total width and height -- Taken from w3schools */
* {
    box-sizing: 
}
    
}
ul{
    padding: 0px;
    margin: 0px;
}

.dark {
    text-align: center;
    padding 12px;
    background: #000000;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Background which is included in each page excluding the homepage which has a title and a short paragraph*/
#background {
    text-align: left;
    color: #ffffff;   
    width: auto;
    
    
}
/* I researched how i could crop this image while keeping it full resolution with the use of object-fit and object-position, i decided to use -225px y pos so you can still see the main content of the img*/

#background img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    object-position: 0px -225px;
    filter: brightness(50%)
}
/*With the help of w3schools i discovered how I can put text on an image with the correct positioning*/
#background .img_text{
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 18px;
    
}
/*header*/

header{
    background: #000000;
    color: white;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: #FF0000 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    
}



header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px
}

header #logo{
    float: left; 
    margin-top: 10px;
}
header #logo h1{
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Will change colour of nav bar depending on what page the user is on*/

header .highlight, header .active a{
    color: #FF0000;
    font-weight: bold;
}

a:hover{
    color: #cccccc;
    font-weight: bold;
}



/* Slideshow for the homepage, code adpoted from w3schools and changed to add text and a button*/

#slideshow {
    min-height: 100px;
    text-align: left;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 40%;    
    width: auto;
    
}

#slideshow h1{
    margin-top: 50px;
    font-size: 55px;
    margin-bottom: 5px;
    width: auto;
}

#slideshow p{
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 0px;
    width: auto;
    
}

#slideshow a{
  border-radius: 30px;
  background: #FF0000;
  padding: 20px; 
  text-decoration: none;
  color: white;
  position: absolute;
  top: 250px;
  width: auto
}

/*Changed brightness so it is easier read the text*/
.mySlides  {
    width: 100%;
    filter: brightness(50%)
    
}



/*Boxes for homepage with buttons included*/

#boxes {
    margin-top: 20px;
    margin-left: 7.5%;
}

#boxes .box {
    float: left;
    width: 30%;
    padding 10px;
    text-align: center;
    border: 1px solid #000;    
    
}

#boxes .box img {
    width: 100%;
    height: auto;      
}

#boxes .box img:hover {
    opacity: 0.5;
}

#boxes .box h3 {
    font-size 5px;
    text-align: start;
    margin-left: 10px;
    text-decoration: underline;
    
}

#boxes .box p {
    padding: 10px;
    text-align: start;
}

/*Button on the top left of images, using a border*/

#boxes .button1 {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 15px;
    color: white;
    border: 1px solid ;
    background: #FF0000 ;
}

#boxes .button2 {
    position: absolute;
    top: 3%;
    left: 31%;
    font-size: 15px;
    color: white;
    border: 1px solid;
    background: #FF0000;
    width: auto;
}
#boxes .button3 {
    position: absolute;
    top: 3%;
    left: 61%;
    font-size: 15px;
    color: white;
    border: 1px solid;
    background:#FF0000;
    width: auto;
}

/*Page title for home page*/

#page_title{
    padding: 15px;
    color: white;
    background: #000;   
    border-bottom: #FF0000 3px solid;
    border-top: #FF0000 3px solid;
}

#page_title h2{
    text-align: center
}

#page_title p{
    font-size: 15px;
    text-align: center
}


/*About Page*/
#main h2 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #000;
    
}

#newsletter h2 {
    float: left;
    font-size: 10
}

#newsletter form {
    float: right;
    margin-top: 20px;
   
}

#newsletter input [type="email"] {
    padding: 4px;
    height: 20px;
    width: 250px;
}

.button-1 {
    height: 20px;
    background: red;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;;
    color: #ffffff
}

/*Sidebar*/
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

/*Article*/
article#column {
    float: left;
    width: 65%;
    height: 400px;
    color: black
    
}


ul#news li {
    list-style: none;
    padding: 20px;
    
}

#main .title {
    margin-left: 50px
}
/*Tips and tricks page*/

#tips-tricks a:link{
    color: #000
    }
#tips-tricks a:visited{
    color: #000000
}

/*Characters page*/

/*Gallery which will be used for character section, code has been adpoted from online source cited in report.html*/

.gallery-section{
  width: 100%;
  padding: 60px 0;
  background: #f1f1f1;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.border{
  width: 180px;
  height: 4px;
  background: #333;
  margin: 60px auto;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.6s;
}

.gallery-section .image:hover img{
  transform: scale(1.2) ;
}

/*My own code*/
#characters {
    padding: 10px;
    margin-top: 15px;
    margin-left: 15px;
    border-top-style: solid;
    text-align: center
    
}
#characters .title2 {
    font-style: italic;
    font-weight: normal;
    font-size: 20px
    
}

#characters .tier_list {
    position: 
}


/*News page*/ 

#news h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

#news .headline {
    position: absolute;
    position: absolute;
    top: 400px;
    left: 20px;
    font-size: 30px;
    color: #fff

}

#news .news_img{
    margin-right: 100px;
    filter: brightness(50%)
}

#news .content {
    font-size: 18px;
    width: 1000px

}

#news li {
    text-decoration: underline;
    color: #ffffff
}

#news a:link{
    color: #ffffff
}
#news a:visited{
    color: #ffffff
}

#news a:hover  {
    color: red;
}
/*Footer*/
footer {
    padding: 20px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    margin-top: 20px;
    width: 100%; 
    border-top: #FF0000 3px solid;
}

/*This code has been taken from W3Schools and slightly adjusted*/


@media only screen and (max-width: 700px){
  .box {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  .box {
    width: 100%;
  }
}





/*Media Queries*/

/* I have included media queries to make the website fully responsive and suitable for users with a smaller resolution, eg making information such as boxes  appear vertically as opposed to horizantally on a bigger resolution
I have done research on w3schools to use the correct dimensions
*/

@media(max-width:  768px) { 
    header nav,
    header nav li,
    #boxes .box,
    article#column,
    aside#sidebar
    
   {
        float: none;
        text-align: center;
        width: 100%;
    }
    
    header #logo {
        text-align: center;
        float: none;
        width: 100%;
        margin-left: 10px;
    }
    
  
    
    #slideshow h1{
        margin-top: 30px;
        
    }
    
    #boxes .box {
    margin-left: -1px   
    }
   
    #boxes .button2{
       position: absolute;
       top: 35%;
       left: 3.8%;
       width: auto;
        
    }
    
     #boxes .button3{
      position: absolute;
      top: 67.2%;
      left: 3.8%;
    }
    
    #slideshow h1{
        position: absolute;
        top: -90px;
        font-size: 20px;
        
    }
    
    #slideshow p {
        position: relative;
        font-size: 15px;
        top: -5px
    }
    
    #slideshow a {
        position: absolute;
        top: 5px;
        font-size: 10px;
    }
    
    #background,
    #background .img_text{
    text-align: left;
    font-size: 15px;
    left: 10px;
    }
    
    #background img{
    width: 100%;
    height: auto;
    max-height: 1000px;
    object-fit: cover;
    object-position: 0px -10px;
    }
    
    #newsletter button-1 {
        display: block;
        width: 100%;  
    }
    
    
    #newsletter form input[type="email"] {
        width: 50%;
        margin-bottom: 5px;     
    }
    
    #newsletter h1 {
        text-align: center;
    }
    
    #news .headline {
    text-align: left;
    font-size: 20px;
    left: 10px;
    top: 800px;
    }
    
    #tips-tricks img {
        width: 450px
    }
    
    #news img {
       width: 450px
    }
    
    #characters img {
        width: 400px;
    }
    
    
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
    
    
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}


















